<!DOCTYPE html>
<html lang = "ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Task List</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>TaskState</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <!-- Итерируемся по задачам и выводим их в таблице -->
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.taskState.getName}"></td>
            <td th:text="${#dates.format(task.createdAt, 'dd.MM.yyyy HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
